body {
  font-family: "Kiwi Maru", serif;
}
header {
  background-color: #92aac7;
  height: 100px;
}
h1 {
  position: fixed;
  top: 25px;
  left: 25px;
  color: #ffffff;
}
.top {
  background-color: #e2dfa2;
  height: 600px;
}
.table {
  background-color: #ed5752;
  height: 150px;
}
.garallay-1 {
  background-color: #a1be95;
  height: 900px;
}
.garallay-2 {
  background-color: #92aac7;
  height: 900px;
}
.kiwi-maru-regular {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}
