body {
  font-family: "Kiwi Maru", serif;
  background-color: #e2dfa2;
  color: #ffffff;
}
header {
  background-color: #a1be95;
  height: 300px;
}
.header-logo {
  position: fixed;
  top: 25px;
  left: 25px;
}
.logo {
  float: left;
}
h1 {
  font-size: 40px;
  margin-right: 1100px;
}
.menu {
  font-size: 30px;
  float: left;
  margin-right: 30px;
}
.top {
  height: 1000px;
}
.top-photo {
  position: relative;
  width: 800px;
  margin-left: 500px;
}

h2 {
  position: absolute;
  margin: 100px 0px 0px 260px;
  font-size: 50px;
}
.down {
  position: absolute;
  margin: 148px 0px 0px 270px;
}

.kiwi-maru-regular {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}
.garallay-2 {
  height: 1000px;
  background-color: #92aac7;
}
